<ion-view title="Converge" id="page1">
  <ion-content padding="true" style="background: url(img/pAihQ4FTR2oc2tlfe6vc_IMG_0400.JPG) no-repeat center;background-size:cover;" class="has-header">
    <div id="converge-container1">
      <form id="converge-form2" class="list">
        <h4 id="converge-heading1" style="color:#000000;font-weight:600;">Where</h4>
        <label class="item item-input" id="converge-input3">
          <span class="input-label">From</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="converge-input4">
          <span class="input-label">To</span>
          <input type="text" placeholder="">
        </label>
        <div class="spacer" style="height: 12px;"></div>
        <h4 id="converge-heading2" style="color:#000000;font-weight:600;">When</h4>
        <label class="item item-input" id="converge-input10">
          <span class="input-label">Onwards</span>
          <input type="time" placeholder="">
        </label>
        <label class="item item-input" id="converge-input9">
          <span class="input-label">Return</span>
          <input type="time" placeholder="">
        </label>
        <div class="spacer" style="height: 12px;"></div>
        <button id="converge-button1" style="border-radius:0px 0px 0px 0px;" class="button button-assertive button-block icon ion-ios-search-strong">Search</button>
      </form>
    </div>
  </ion-content>
</ion-view>